[submodule "openRigOS"]
	path = openRigOS
	url = git@github.com:openRigProject/openRigOS.git
[submodule "openrig_core"]
	path = openrig_core
	url = git@github.com:openRigProject/openrig_core.git
[submodule "openRigConsole"]
	path = openRigConsole
	url = git@github.com:openRigProject/openRigConsole.git
[submodule "openRigMobile"]
	path = openRigMobile
	url = git@github.com:openRigProject/openRigMobile.git
[submodule "openRigWeb"]
	path = openRigWeb
	url = git@github.com:openRigProject/openRigProject.github.io.git
